[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==3.5.1"
pylint = "==1.8.4"
"autopep8" = "==1.3.5"
coverage = "==4.5.1"
pytest-cov = "==2.5.1"

[packages]
requests = "==2.20.0"
GitPython = "==2.1.9"
validators = "==0.12.1"

[requires]
python_version = "3.6"

[scripts]
tests = "time -p pytest -v --cov=./"
